<%- include('./partials/header') %>

<main class="container py-4">

  <h1>Auteurs</h1>

  <div>
    <% for(const groupLetter in locals.authors) { %>
    <span class="badge bg-primary p-2 mb-1"><%= groupLetter %></span>
    <ul>
      <% for(const author of locals.authors[groupLetter]){ %>
        <li><a href="/author/<%- author.id %>"><%= author.lastname.toUpperCase() %> <%= author.firstname %></a></li>
      <% } %>
    </ul>
    <% } %>
  </div>

</main>

<%- include('./partials/footer') %>
