<%- include('./partials/header') %>

<main class="container py-4">

  <!-- Toast en cas d'erreur -->
  <!-- <div class="alert alert-danger" role="alert">
    Une erreur s'est produite lors de l'enregistrement du niveau.
  </div> -->

  <!-- Toast en cas de succès -->
  <!-- <div class="alert alert-success" role="alert">
    Le niveau a été enregistré avec succès.
  </div> -->
  <% if(locals.user.role === 'admin') { %>
    <h1 class="my-4">Ajouter un niveau</h1>
  
    <form class="mb-5" action="#" method="POST">
      <label class="form-label" for="name">Nom du niveau</label>
      <input class="form-control" type="text" name="name" id="name" required>
      <input class="btn btn-primary mt-3" type="submit" value="Ajouter le niveau">
    </form>
  <% } %>

  <h1 class="my-3">Tous les niveaux</h1>
  <% if(locals.levels) { %>
  <ul>

    <!-- Level -->
    <% for(const level of locals.levels){ %>
      <li>
        <span class="badge bg-info p-3"><%= level.name %></span>
        <a class="btn btn-outline-info py-0 px-1 ms-3 fs-6 text-decoration-none" href="/level/<%- level.id %>">ÉDITER</a>
        <% if(locals.user.role === 'admin') { %>
        <a class="btn btn-outline-danger py-0 px-1 ms-3 fs-6" href="/level/delete/<%- level.id %>">SUPPRIMER</a>
        <% } %>
      </li>
    <% } %>

  </ul>
  <% } %>

</main>

<%- include('./partials/footer') %>
